<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProfileMapper">
  <insert id="insertProfile" parameterType="com.example.model.Profile">
  insert into Profile (firstName,lastName)
  values(
       #{firstName},
       #{lastName}
  )
  </insert>
  <insert id="insertAddress" parameterType="com.example.model.Address">
  insert into Address (street,city,state)
  values(
       #{street},
       #{city},
       #{state}
  )
  </insert>
  
</mapper>